* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.principal {
    height: 100vh;
    width: 100%;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    background-color:#191919;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-top: 20px;

}

.portfolio {
    color: #ffff;
    font-size: 30px;
    font-weight: 500;
}

.portfolio span {
    color: #f9004d;
}

li {
    color: #ffff;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;

}

li:hover {
    color: #f9004d;
    transition: 0.5s;
}

.link_menu {
    text-decoration: none;
    color: #ffffff;
}

.meu_nome {
    position: absolute;
    top: 50%;
    left: 2%;

}

h1 {
    color: #ffff;
    font-size: 65px;
}

h1 span {
    color: #f9004d;
}

.meu_nome h2 {
    color: #ffff;
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 10%;
    background-color: #000000; 
}

section img {
    height: 400px;
    border-radius: 100%;
    border: 2px solid #f9004d;
    margin-right: 25px;
}

section div h2 {
    color: white;
    font-size: 30px;
}

section div p {
    color: #ffffff;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}

section div button {
    color: rgb(255, 255, 255);
    background-color: #f9004d;
    height: 45px;
    width: 160px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
}

section div button:hover {
    background-color: #000000;
    border: 3px solid #f9004d;
    transition: 0.10s;
}

.projetos {
    background-color: #191919;
    padding-top: 50px;
    padding: bottom 100px;;

}

.projetos h2 {
    color: rgb(53, 198, 255);
    font-size: 40px;
    text-align: center;
}

.projetos span {
    color: #f9004d;
}

.card{
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card img {
    height: 100px;
}

.card h5 {
    color: #259de2;
    font-size: 24px;
}

.card p {
    color: #ffffffe3;
    margin-top: 30px;
    margin-bottom: 40px;
}

.card a {
    background-color: #f9004d;
    color: #fafaff;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5;
    text-decoration: none;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
}

.cards_projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

footer {
    background-color: #191919;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: #ffffff;
    font-size:  30px;
}

footer p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px;
}

.social img {
    height: 25px;
    border-radius: 50%;
}

.social {
    display: flex;
    gap: 20px;
}

.social a {
    background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    justify-content: center;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5;
}

body.body1 {
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    margin: 400px;
    margin-top: 70px;
    background-color: #191919;
    background-size: cover;
    background-position: center;
}

.contatos {
    background-color: #000000;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(246, 242, 242);
    max-width: 600px;
    width: 100%;
}

.contatos h1 {
    text-align: center;
    color: #f9004d;
    margin-bottom: 20px;
    font-size: 2em;
}

#contactForm table {
    width: 100%;
    border-collapse: collapse;
}

#contactForm td {
    padding: 15px;
}

#contactForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f9004d;
    font-size: 1.1em;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#contactForm input[type="submit"],
#contactForm input[type="reset"] {
    width: 48%;
    padding: 15px;
    margin: 10px 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #f9004d;
}

#contactForm input[type="submit"]:hover,
#contactForm input[type="reset"]:hover {
    opacity: 0.8;
}

#contactForm input[type="reset"] {
    background-color: #ffffff;
    color: #000000;
}
